/* Template General */
@import url('https://fonts.googleapis.com/css?family=Athiti');

* {font-family: 'Athiti', sans-serif;}

.main-dreation {width:50%;}

@media (max-width:767.98px) 
{ 
    .main-dreation {width:80%;}
}

/* FrontEnd Register */
.form-dreation 
{
    background:#f1f1f1;
    border-radius:10px;
    padding:25px;
}
